<html>
{% load static %}
    <head>
        <title>Civic Connect</title>
        <link rel="icon" type="image/x-icon" href="{% static 'civicconnect/images/favicon.ico' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'civicconnect/style.css?v=2.0' %}">
    </head>
    <body>
        <div id="container">
            {% include 'civicconnect/header.html' %}

            <!--Text added briefly to test successful Travis-CI-->
            <div class="block">
                {% block content %}{% endblock %}
            </div>

            {% include 'civicconnect/scripts.html' %}

            {% include 'civicconnect/footer.html' %}
        </div>
    </body>

</html>