{# Load CSS and JavaScript #}
{# Load CSS and JavaScript #}


{# Custom CSS #}
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'civicconnect/style.css' %}">
<title>Civic Connect</title>

<body>

{% include 'civicconnect/header.html' %}

<!--Text added briefly to test successful Travis-CI-->
&nbsp &nbsp &nbsp &nbsp This text was added to verify Travis-CI component!

{% block content %}
{% endblock %}

{% include 'civicconnect/scripts.html' %}

{% include 'civicconnect/footer.html' %}

</body>

</html>