<!--

<nav class="navbar navbar-light bg-light justify-content-between">
  <a class="navbar-brand" href="{% url 'civicconnect:index' %}">Civic Connect</a>
</nav>

<header class="header">

-->

{% load socialaccount %}

<!-- Main Navbar -->

<nav class="navbar navbar-expand-lg">
    <div class="container">
        <!-- Navbar Brand -->
        <div class="navbar-header">
            <!-- Navbar Brand -->
            <a class="navbar-brand" href="#">Civic Connect</a>
        </div>
        <!-- Navbar Menu -->
        <div id="navbarcollapse" class="collapse navbar-collapse">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link active" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="#">Causes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="#">Connect</a>
                </li>
                <li class="nav-item">
                    {% if user.is_authenticated %}
                    <a class="nav-link active" href="/accounts/logout">Logout {{ user.username }}</a>

                    {% else %}
                    <a class="nav-link active" href="{% provider_login_url 'google' %}">Login</a>
                    {% endif %}
                </li>
            </ul>
        </div>
    </div>
</nav>
</header>