{% load socialaccount %}

<!-- Main Navbar -->
<nav class="navbar navbar-light navbar-expand bg-light justify-content-between">
  <a class="navbar-brand" href="{% url 'civicconnect:index' %}">Civic Connect</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="true" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item {% if request.path == "/" %}active{% endif %}">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item {% if "templates" in request.path %}active{% endif %}">
        <a class="nav-link" href="/templates">Templates</a>
      </li>
      <li class="nav-item {% if "topics" in request.path %}active{% endif %}">
        <a class="nav-link" href="/topics">Topics</a>
      </li>
    <li class="nav-item {% if "myreps" in request.path %}active{% endif %}">
        <a class="nav-link" href="/myreps/">My Reps</a>
    </li>
      <li class="nav-item {% if request.path == "/accounts/logout/" %}active{% endif %}">
        {% if user.is_authenticated %}
            <a class="nav-link" href="/accounts/logout/">Log Out</a>
        {% else %}
            <a class="nav-link" href="{% provider_login_url 'google' %}">Log In</a>
        {% endif %}
      </li>
  </div>
    <span class="navbar-text">
        {% if user.is_authenticated %}
            <strong>{{ user.first_name|title }}</strong>, put your passions into action.
        {% else %}
            Put your passions into action.
        {% endif %}       
    </span>
</nav>
