{% extends 'civicconnect/base.html' %}
{% load socialaccount %}
{% block content %}
Welcome to Civic Connect! We are making it easier to put your passions into action. Here, you can collaborate with other citizens by creating email templates and issues (topics) in order to get in touch with your local representatives on the issues <em>you</em> care about.
<hr>
<h4>Getting Started</h4>
<ol>
    {% if user.is_authenticated %}
        <li>Thanks for signing in, {{ user.first_name }}!</li>
    {% else %}
        <li>It looks like you're not logged in. <a href="{% provider_login_url 'google' %}">Log In</a> to gain access to all of Civic Connect's features.</li>
    {% endif %}
    <li>Head over to your profile and enter your contact information. This will be useful for looking up your representatives.</li>
    <li>Visit the Representatives tab to get in touch with your local officials.</li>
</ol>
{% if user.is_authenticated is not True %}
<div class="modal" tabindex="-1" role="dialog" id="welcome">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Welcome!</h5>
            </div>
            <div class="modal-body">
                <strong>Greetings!</strong> If you're viewing this page at this point, you are most likely a TA or one of our professors! As requested, we've put together a comprehensive list of features / user guide for you to use to more easily evaluate our project. This is located in our README.md file.
                <hr>
                Please click below to open the user guide. Thank you!
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <a href="https://github.com/uva-cs3240-f20/civic14/blob/master/README.md" target="_blank" class="btn btn-primary">View User Guide</a>
            </div>
            </div>
        </div>
    </div>
<script type="text/javascript">
    window.addEventListener('DOMContentLoaded', (event) => {
        $('#welcome').modal('show')
    });
</script>
{% endif %}
{% endblock %}