{% extends 'civicconnect/base.html' %}

{% block content %}

    <h2> Elected Officials</h2>

    {% if officials %}
    <table class="container-fluid">
        <thead>
        <tr class="d-flex">
          <th class ="col-1"></th>
          <th class ="col-3">Name</th>
          <th class ="col-3">Party</th>
          <th class ="col-1">Contact Number</th>
        </tr>
        </thead>
        <tbody>
            {% for official in officials %}
                <tr class="d-flex">
                <td class ="col-1"></td>
                <td class ="col-3">{{ official.name }} <br> <img src={{ official.photoUrl }}> </td>
                <td class ="col-3">{{ official.party }}</td>
                    <td class ="col-3">{{ official.phones }}</td>
                <td class ="col-1"></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    {% else %}
    <div class="alert alert-danger" role="alert">Could not find any elected officials at this address.</div>
    {% endif %}

    <a href="{% url 'civicconnect:repindex_view' %}">Search again</a><br><br>

    <div class="alert alert-secondary" role="alert"><em>Powered by the Google Civic Information API.</em></div>

{% endblock %}