{% extends 'civicconnect/base.html' %}

{% block content %}
<h3>Generated Template</h3>
<p>
    <strong>From</strong>: {{ user.email }}<br>
    <strong>To</strong>: {{ official.email }} ({{ official.name }})<br>
    <strong>Subject Line</strong>: {{ template.title }}<br>
    <strong>Generated Email</strong>: 
    <div class="generated-email">
        {{ generated_template|safe }}
    </div>
</p>
<div class="text-center">
    <a href="mailto:{{official.email}}" class="btn btn-primary">Send Email</a>
    <a href="javascript:history.back()" class="btn btn-secondary">Back to Search</a>
    <a href="{% url 'civicconnect:template_create' %}" class="btn btn-secondary">Create Template</a>
</div>
{% endblock %}