{% extends 'civicconnect/base.html' %}

{% block content %}
<h3>Generated Template</h3>
<div class="alert alert-success alert-dismissible fade show" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true" style="margin-top: -10px">&times;</span>
  </button>
  <strong>Success!</strong> Please find your generated email below.
</div>
<p>
    <strong>From</strong>: {{ user.email }}<br>
    <strong>To</strong>: {{ official.email }} ({{ official.name }})<br>
    <strong>Subject Line</strong>: {{ template.title }}<br>
    <strong>Generated Email</strong>: 
    <div class="generated-email">
        {{ generated_template|safe }}
    </div>
</p>
<div class="text-center">
    <a href="mailto:{{official.email}}" class="btn btn-primary">Send Email</a>
    <a href="javascript:history.back()" class="btn btn-secondary">Back to Search</a>
    <a href="{% url 'civicconnect:template_create' %}" class="btn btn-secondary">Create Template</a>
</div>
{% endblock %}