{% extends 'civicconnect/base.html' %}

{% block content %}
{% if user.is_authenticated %}
    {% if topic in user.favorites_topic.all %}
        <span data-toggle="tooltip" data-placement="top" title="Remove from Liked" class="favorites-template"><a href="{% url 'civicconnect:unlike_topic' topic.id %}"><i class="fas fa-star favorite remove"></i></a></span>
    {% else %}
        <span data-toggle="tooltip" data-placement="top" title="Add to Liked" class="favorites-template"><a href="{% url 'civicconnect:like_topic' topic.id %}"><i class="fas fa-star unliked"></i></a></span>
    {% endif %}
{% endif %}
<h3>{{topic.title}}</h3>
<strong>Author: </strong>{{topic.author.first_name}} {{topic.author.last_name}}<br>
<br>
<strong>Description</strong><br>
<p>{{topic.description}}</p>
{% endblock %}