{% extends 'civicconnect/base.html' %}

{% block content %}
{% if topic.title %}<h2>Edit "{{ topic.title }}"</h2>{% else %}<h2>Create New Topic</h2>{% endif %}

{% if user.is_authenticated %}
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

    <form id="topicForm" method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="inputTitle">Title</label>
            <input id="inputTitle" class="form-control" name="title" required value="{{ topic.title }}" placeholder="Subject-matter of the issue">
        </div>
        <div class="form-group">
            <label for="inputBody">Description of Topic/Issue</label>
            <textarea id="inputBody" class="form-control" name="description" required placeholder="Describe the issue. What's at stake? What are the different viewpoints? Current laws?" rows="10">{{ topic.description }}</textarea>
        </div>
        {% comment %} Author will be set on the backend to prevent loopholes {% endcomment %}
        <div class="text-center">
            <input class="btn btn-primary" type="submit" value="{% if topic.id %}Save{% else %}Create{% endif %}">
            <a class="btn btn-secondary" href="{% url 'civicconnect:topic_index' %}">Back to Index</a>
        </div>
    </form>
{% else %}
<div class="alert alert-danger" role="alert">
  Looks like you're not signed in! Please sign in to begin creating topics.
</div>
{% endif %}
{% endblock %}