body {
    background: white url("images/bg.jpg") repeat-y;
}

label {
    font-weight: bold;
}
#container {
    margin: auto;
    max-width:60%;
    background: #fff;
    border-radius: 5px;
}
.block {
    padding: 10px;
    
}
textarea {
    width: 50%
}

.table {
    text-align: center;
}
.generated-email {
    background: #cccccc;
    padding: 18px;
    border-radius: 10px;
}
.profile_image {
    max-width: 200px;
    border-radius: 50%;
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    filter: grayscale(100%);
    transition: all 0.5s linear;
    opacity: 0.8;
    margin: auto;
    display: block;
}
.profile_image:hover {
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    filter: grayscale(0%);
    opacity: 1;
}
.favorite {
    color: gold;
}
.favorites-template {
    position: relative;
    float: right;
    padding-right: 10px;
    padding-top: 10px;
}
.unliked, .remove:hover, .edit {
    color: #bfbfbf;
}
.unliked:hover {
    color: gold;
}
.edit:hover {
    color: #577a9c;
}
.alert-fix {
    top: -3px!important;
}