body {
    background: white url("images/bg.jpg") repeat-y;
}

label {
    font-weight: bold;
}
#container {
    margin: auto;
    max-width:60%;
    background: #fff;
    border-radius: 5px;
}
.block {
    padding: 10px;
    
}
textarea {
    width: 50%
}

.table {
    text-align: center;
}