body {
    background: white;
}

.header {
    padding-top: 20px;
    padding-bottom: 20px;
}

.navbar .navbar-nav navbar-brand {
    color: #999;
}

.navbar .navbar-nav a.nav-link.active {
    font-weight: bold;
}

.navbar-expand-lg .navbar-nav .nav-link {
    margin: 0 5px;
    font-size: .95em;
}
